@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,722;1,722&display=swap');

@font-face {
    font-family: 'Montserrat';
    src: url('assets/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
}

h1 h2{
    font-family: "Montserrat", sans-serif;
}