@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body, html{
    overflow-y: scroll;
    background: #2a2a9b;
    background: linear-gradient(132deg, rgba(42, 42, 155, 1) 0%, rgba(87, 104, 199, 1) 50%, rgba(237, 83, 145, 1) 100%);
}

.Title{
    width: 100%;
    font-family:"Roboto-Mono", monospace;
}

h1 p {
    font-family:"Roboto-Mono", monospace;
}

#Spacer{
    height:180px;
    width: 100%;
    background-color:blue;
}

